button {
  width: 160px;
  height: 40px;
  background-color: #0060a8;
  cursor: pointer;
  border: none;
  transition: background-color .35s ease;
}

button:hover {
  background-color: #007bda;
}

.btn_title {
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  margin: 0;
}