doctype html
html
  head
    title Costco
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    block head_end

  body
    include ../_partials/header.pug

    block content
    
    include ../_partials/footer.pug


    
    //- ===== jQuery =====
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js")

    //- ===== GSAP =====
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.9/jquery.fullPage.js')

    //- ===== Scroll Magic Library =====
    script(src='http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')

    //- ===== Image Hover 3D Effects =====
    script(src="js/jquery.hover3d.min.js")

    //- ===== Local Javascript =====
    script(type="text/javascript" src="js/script.js")
    script(type="text/javascript" src="js/carousel.js")
    script(type="text/javascript" src="js/scrollAnimation.js")
    block body_end
