extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content

	//- Category page structure starts
	.banner
		.banner_desc-container
			.banner_desc
				h2.title Business Cards
				p Try out the best paper quality of our business cards.
			.banner_img
				img(src="img/category_img/banner1.png", alt="")

	.wrapper#category-page

		//- Section: Features Products
		section#interaction-1
			.product-container
				h3.title Choose One of the following

				//- Component: Product Container
				.row.product-container_grid
					//- Component: product-item.pug
					.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/product1.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price Browse Now

					//- Component: product-item.pug
					.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/product2.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price Upload Now

					//- Component: product-item.pug
					.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/product3.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price Get Started

		section
			.full-width-banner
				.banner_desc
					h3.title Exclusive Desings to Choose from
					p Hundreds of exclusive designs to choose from, or you can upload your own.
				.banner_img
					img(src="img/category_img/banner2.png", alt="")


		section#interaction-1
			.product-container#shopByIndustry_show
				h3.title Shop by Industry

				//- Component: Product Container
				.row.product-container_grid
					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard1.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Arts & Media

					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard2.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Retail & Food

					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard3.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Manufacturing & Trade

					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard4.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Residential Services

				.row.product-container_grid
					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard3.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Technology

					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard4.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Wedding

					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard2.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Professional Services

					//- Component: product-item.pug
					.grid-25
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/category_img/bcard1.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Education
				
				//- /Component: Product Container
				.view-more-categories
					a(href="") View More Categories


		section
			.product-pricing.row#productPricing_show
				.grid-40.pricing_desc
					h3.title Product Pricing
					p Lorem ipsum dolor sit amet, tibique interesset cu vim, et pri partem impedit interesset, in hinc aliquip sea. Has mucius vocent fabellas eu, eum recteque consequuntur in.
				.grid-60.pricing_table
					table
						tr
							th Quantity
							th Premium
							th Ultra Thick
						tr
							td 50
							td $20.00
							td $20.00
						tr
							td 100
							td $20.00
							td $20.00
						tr
							td 250
							td $20.00
							td $20.00
						tr
							td 500
							td $20.00
							td $20.00
						tr
							td 1000
							td $20.00
							td $20.00


		//- Section: Learn More
		//- Component: Full width tile
		section
			.full-width-tile#moreProducts
				.row.learn-more
					.grid-50.learn-more_img
						img(src="img/category_img/card1.png", alt="")
					.grid-50.learn-more_desc
						h3 Access Great Designs
						p Lorem ipsum dolor sit amet, tibique interesset cu vim, et pri partem impedit interesset, in hinc aliquip sea. Has mucius vocent fabellas eu, eum recteque consequuntur in.
						//- Component: button
						include _partials/component/button
							block btn_title
								h1.btn_title Learn More

				.row.learn-more
					.grid-50.learn-more_desc
						h3 Premium in Every Aspect 
						p Lorem ipsum dolor sit amet, tibique interesset cu vim, et pri partem impedit interesset, in hinc aliquip sea. Has mucius vocent fabellas eu, eum recteque consequuntur in.
						//- Component: button
						include _partials/component/button
							block btn_title
								h1.btn_title Learn More
					.grid-50.learn-more_img
						img(src="img/category_img/card2.png", alt="")



block body_end
