extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content
	.test
		p test index page
		a(href="search.html") search link
block body_end
	script(type="text/javascript" src="js/script.js")
