extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content

	//- Home page structure starts

	//- Section: Carousel
	.carousel.row#carousel-2
		.carousel_img
			img(src="img/home_img/carousel-1.png").carousel_img-1.active
			img(src="img/home_img/carousel-1.png").carousel_img-2
			img(src="img/home_img/carousel-1.png").carousel_img-3
			img(src="img/home_img/carousel-1.png").carousel_img-4
			img(src="img/home_img/carousel-1.png").carousel_img-5
		ul.carousel_arrow-container
			li.carousel_arrow.carousel_arrow-prev
				.arrow-prev
			li.carousel_arrow.carousel_arrow-next
				.arrow-next

		.carousel_controls
			a(href="").carousel_pagination.active
			a(href="").carousel_pagination
			a(href="").carousel_pagination
			a(href="").carousel_pagination
			a(href="").carousel_pagination
			.carousel_btns
				i(aria-hidden="true").fa.fa-pause.carouselPause
				i(aria-hidden="true").fa.fa-play.carouselPlay

	.wrapper#home-page

		//- Section: Features Products
		section#interaction-1
			.product-container
				h3.title Featured Products

				//- Component: Product Container
				ul.row.product-container_grid
					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/product1.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/product2.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $15.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/product3.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

		//- Section: Learn More
		//- Component: Full width tile
		section
			.full-width-tile
				.row.learn-more#learnMore_1_Show
					.grid-50.learn-more_img
						img(src="img/home_img/banner2.png", alt="")
					.grid-50.learn-more_desc
						h3 Quality at your Fingertips
						p Lorem ipsum dolor sit amet, tibique interesset cu vim, et pri partem impedit interesset, in hinc aliquip sea. Has mucius vocent fabellas eu, eum recteque consequuntur in.
						//- Component: button
						include _partials/component/button
							block btn_title
								h1.btn_title Learn More

				.row.learn-more#learnMore_2_Show
					.grid-50.learn-more_desc
						h3 Professional Designs to Choose From
						p Lorem ipsum dolor sit amet, tibique interesset cu vim, et pri partem impedit interesset, in hinc aliquip sea. Has mucius vocent fabellas eu, eum recteque consequuntur in.
						//- Component: button
						include _partials/component/button
							block btn_title
								h1.btn_title Learn More
					.grid-50.learn-more_img
						img(src="img/home_img/banner3.png", alt="")

		//- Section: More Products
		section#moreProducts
			.product-container.row#interaction-1
					h3.title More Products

					//- More Products: left column
					.grid-50.product-container_grid
						.grid-100
							//- Component: product-item.pug
							include _partials/component/product-item.pug
								block grid_item
									a(href="").grid_item
									
										block img
											.grid_item_img
												img(src="img/home_img/card1.png", alt="")
										block item_desc
											.grid_item_desc
												h4 Top Business Cards
												p Check out this spring's trends
												.grid_item_price From $14.99
						.grid-50
							//- Component: product-item.pug
							include _partials/component/product-item.pug
								block grid_item
									a(href="").grid_item
									
										block img
											.grid_item_img
												img(src="img/home_img/card4.png", alt="")
										block item_desc
											.grid_item_desc
												h4 Top Business Cards
												p Check out this spring's trends
												.grid_item_price From $14.99
						.grid-50
							//- Component: product-item.pug
							include _partials/component/product-item.pug
								block grid_item
									a(href="").grid_item
									
										block img
											.grid_item_img
												img(src="img/home_img/card5.png", alt="")
										block item_desc
											.grid_item_desc
												h4 Top Business Cards
												p Check out this spring's trends
												.grid_item_price From $14.99

					//- More Products: right column
					.grid-50.product-container_grid
						.grid-50
							//- Component: product-item.pug
							include _partials/component/product-item.pug
								block grid_item
									a(href="").grid_item
									
										block img
											.grid_item_img
												img(src="img/home_img/card2.png", alt="")
										block item_desc
											.grid_item_desc
												h4 Top Business Cards
												p Check out this spring's trends
												.grid_item_price From $14.99
						.grid-50
							//- Component: product-item.pug
							include _partials/component/product-item.pug
								block grid_item
									a(href="").grid_item
									
										block img
											.grid_item_img
												img(src="img/home_img/card3.png", alt="")
										block item_desc
											.grid_item_desc
												h4 Top Business Cards
												p Check out this spring's trends
												.grid_item_price From $14.99
						.grid-100
							//- Component: product-item.pug
							include _partials/component/product-item.pug
								block grid_item
									a(href="").grid_item
									
										block img
											.grid_item_img
												img(src="img/home_img/card6.png", alt="")
										block item_desc
											.grid_item_desc
												h4 Top Business Cards
												p Check out this spring's trends
												.grid_item_price From $14.99



















block body_end
