extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content

	//- Home page structure starts

	//- //- Section: Carousel
	//- .carousel.row#carousel-1
	//- 	.carousel_img
	//- 		img(src="img/home_img/carousel-1.png").carousel_img-1.active
	//- 		img(src="img/home_img/carousel-2.jpg").carousel_img-2
	//- 		img(src="img/home_img/carousel-3.jpg").carousel_img-3

	//- 	ul.carousel_arrow-container
	//- 		li.carousel_arrow.carousel_arrow-prev
	//- 			.arrow-prev
	//- 		li.carousel_arrow.carousel_arrow-next
	//- 			.arrow-next

	//- 	.carousel_controls
	//- 		a(href="").carousel_pagination.active
	//- 		a(href="").carousel_pagination
	//- 		a(href="").carousel_pagination


	//- Section: Carousel-2
	.carousel.row#carousel-2
		.carousel_img
			img(src="img/home_img/carousel-1.png").carousel_img-1.active
			img(src="img/home_img/carousel-1.png").carousel_img-2
			img(src="img/home_img/carousel-1.png").carousel_img-3
			img(src="img/home_img/carousel-1.png").carousel_img-4
			img(src="img/home_img/carousel-1.png").carousel_img-5
		ul.carousel_arrow-container
			li.carousel_arrow.carousel_arrow-prev
				.arrow-prev
			li.carousel_arrow.carousel_arrow-next
				.arrow-next

		.carousel_controls
			a(href="").carousel_pagination.active
			a(href="").carousel_pagination
			a(href="").carousel_pagination
			a(href="").carousel_pagination
			a(href="").carousel_pagination
			.carousel_btns
				i(aria-hidden="true").fa.fa-pause.carouselPause
				i(aria-hidden="true").fa.fa-play.carouselPlay



	.wrapper#interaction-page

		//- //- Section: Features Products
		//- section#interaction-1
		//- 	.product-container
		//- 		h3.title Interaction 1

		//- 		//- Component: Product Container
		//- 		ul.row.product-container_grid
		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card3.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- 			Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card4.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $15.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card5.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- Section: Features Products
		section#interaction-2
			.product-container
				//- h3.title Interaction 2
				h3.title Interaction 1

				//- Component: Product Container
				ul.row.product-container_grid
					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card3.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card4.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $15.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card5.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

		//- Section: Features Products
		section#interaction-3
			.product-container
				//- h3.title Interaction 3
				h3.title Interaction 2

				//- Component: Product Container
				ul.row.product-container_grid
					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card3.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card4.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $15.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card5.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

		//- //- Section: Features Products
		//- section#interaction-4
		//- 	.product-container
		//- 		h3.title Interaction 4

		//- 		//- Component: Product Container
		//- 		ul.row.product-container_grid
		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card3.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card4.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $15.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card5.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- //- Section: Features Products
		//- section#interaction-4-1
		//- 	.product-container
		//- 		h3.title Interaction 4-1

		//- 		//- Component: Product Container
		//- 		ul.row.product-container_grid
		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card3.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card4.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $15.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card5.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- //- Section: Features Products
		//- section#interaction-5
		//- 	.product-container
		//- 		h3.title Interaction 5

		//- 		//- Component: Product Container
		//- 		ul.row.product-container_grid
		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card3.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card4.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $15.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card5.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- Section: Features Products
		section#interaction-6
			.product-container
				//- h3.title Interaction 6
				h3.title Interaction 3

				//- Component: Product Container
				ul.row.product-container_grid
					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card3.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card4.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $15.99

					//- Component: product-item.pug
					li.grid-33
						include _partials/component/product-item.pug
							block grid_item
								a(href="").grid_item
								
									block img
										.grid_item_img
											img(src="img/home_img/card5.png", alt="")
									block item_desc
										.grid_item_desc
											h4 Top Business Cards
											p Check out this spring's trends
											.grid_item_price From $14.99

		//- //- Section: Features Products
		//- section#interaction-7
		//- 	.product-container
		//- 		h3.title Interaction 7: Image Zoom-in

		//- 		//- Component: Product Container
		//- 		ul.row.product-container_grid
		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card3.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card4.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $15.99

		//- 			//- Component: product-item.pug
		//- 			li.grid-33
		//- 				include _partials/component/product-item.pug
		//- 					block grid_item
		//- 						a(href="").grid_item
								
		//- 							block img
		//- 								.grid_item_img
		//- 									img(src="img/home_img/card5.png", alt="")
		//- 							block item_desc
		//- 								.grid_item_desc
		//- 									h4 Top Business Cards
		//- 									p Check out this spring's trends
		//- 									.grid_item_price From $14.99




block body_end
