extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content

	.wrapper.search
		h1 Retail &amp; Food
		.search-filters
			ul.sorting
				li - Hide all Filters
				li Items Per Page: 20
				li Sort By: Relevance
		.filters
			ul
				li
					h3 Number of Photos
				li Landscape
				li Portrait
			ul
				li
					h3 Orientation
				li Landscape
				li Portrait
			ul
				li
					h3 Color Theme
				li Black
				li Blue
				li Brown
			p Clear all Filters
		.row
			include _partials/components/search-tile
				block img
				img(src="img/search1.png")
				img(src="img/search1C.png")
				block tile-text
					h4 Sprague
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			include _partials/components/search-tile
				block img
				img(src="img/search2.png")
				img(src="img/search2C.png")
				block tile-text
					h4 Floral
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			include _partials/components/search-tile
				block img
				img(src="img/search3.png")
				img(src="img/search3C.png")
				block tile-text
					h4 Farmer's Place
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			include _partials/components/search-tile
				block img
				img(src="img/search4.png")
				img(src="img/search4C.png")
				block tile-text
					h4 Marble Inspired
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			include _partials/components/search-tile
				block img
				img(src="img/search5.png")
				img(src="img/search5C.png")
				block tile-text
					h4 The Springs
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			include _partials/components/search-tile
				block img
				img(src="img/search6.png")
				img(src="img/search6C.png")
				block tile-text
					h4 Antique
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			include _partials/components/search-tile
				block img
				img(src="img/search7.png")
				img(src="img/search7C.png")
				block tile-text
					h4 Art Deco
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			include _partials/components/search-tile
				block img
				img(src="img/search8.png")
				img(src="img/search8C.png")
				block tile-text
					h4 Classic
					p Business Card
					button CREATE NOW
					.search-details
						p Details
						P |
						p Select
			//- .grid-25
			//- 	.search-tile
			//- 		img(src="img/card1.png")
			//- 		h4 Sprague
			//- 		p Business Card
			//- 		.search-details
			//- 			p Details
			//- 			P |
			//- 			p Select

block body_end
	script(type="text/javascript" src="js/script.js")
