extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content

	.content-wrapper.search
		h1 Retail &amp; Food
		.search-filters
			ul.sorting
				li - Hide all Filters
				li Items Per Page: 20
				li Sort By: Relevance
		.filters
			ul
				li
					h3 Number of Photos
				li Landscape
				li Portrait
			ul
				li
					h3 Orientation
				li Landscape
				li Portrait
			ul
				li
					h3 Color Theme
				li Black
				li Blue
				li Brown
			p Clear all Filters
		.row
			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select
			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select
			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select
			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select

			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select
			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select
			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select
			.grid-25
				.search-tile
					img(src="img/card1.png")
					h4 Sprague
					p Business Card
					.search-details
						p Details
						P |
						p Select

block body_end
	script(type="text/javascript" src="js/script.js")
