extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content

	.test
		p testing from search pug file

block body_end
	script(type="text/javascript" src="js/script.js")
