extends _layouts/head

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content

	.wrapper.search
		h1 Retail &amp; Food
		.search-filters
			ul.sorting
				li - Hide all Filters
				li Items Per Page: 20
				li Sort By: Relevance
		.filters
			ul
				li
					h3 Number of Photos
				li Landscape
				li Portrait
			ul
				li
					h3 Orientation
				li Landscape
				li Portrait
			ul
				li
					h3 Color Theme
				li Black
				li Blue
				li Brown
			p Clear all Filters
			
		.row.grayloader
			include _partials/components/search-tile
				.shadow1
				block img
				img(src="img/search1.png")
				.imagesfake
				.colors
					.colors-a
					.colors-b
				block tile-text
					h4 Sprague
					p Business Card
					a Select
					.grayline
					.search-details
						p View Pricing
	
			include _partials/components/search-tile
				.shadow1
				block img
				img(src="img/search2.png")
				.imagesfake
				.colors
					.colors-c
					.colors-d
				block tile-text
					h4 Floral
					p Business Card
					a Select
					.grayline
					.search-details
						p View Pricing
	
			include _partials/components/search-tile
				.shadow1
				block img
				img(src="img/search3.png")
				.imagesfake
				.colors
					.colors-e
					.colors-f
					.colors-g
				block tile-text
					h4 Farmer's Place
					p Business Card 
					a Select
					.grayline
					.search-details
						p View Pricing
	
			include _partials/components/search-tile
				.shadow1
				block img
				img(src="img/search4.png")
				.imagesfake
				.colors
					.colors-h
				block tile-text
					h4 Marble Inspired
					p Business Card
					a Select
					.grayline
					.search-details
						p View Pricing
	
			//- fifth item
			include _partials/components/search-tile
				.shadow2
				block img
				img(src="img/search5.png")
				.imagesfake
				.colors
					.colors-i
					.colors-j
				block tile-text
					h4 The Springs
					p Business Card
					a Select
					.grayline
					.search-details
						p View Pricing
	
			include _partials/components/search-tile
				.shadow2
				block img
				img(src="img/search6.png")
				.imagesfake
				.colors
					.colors-k
					.colors-l
				block tile-text
					h4 Antique
					p Business Card
					a Select
					.grayline
					.search-details
						p View Pricing
	
			include _partials/components/search-tile
				.shadow2
				block img
				img(src="img/search7.png")
				.imagesfake
				.colors
					.colors-m
				block tile-text
					h4 Art Deco
					p Business Card
					a Select
					.grayline
					.search-details
						p View Pricing
	
			include _partials/components/search-tile
				.shadow2
				block img
				img(src="img/search8.png")
				.imagesfake
				.colors
					.colors-n
				block tile-text
					h4 Classic
					p Business Card
					a Select
					.grayline
					.search-details
						p View Pricing
	
			//- .grid-25
			//- 	.search-tile
			//- 		img(src="img/card1.png")
			//- 		h4 Sprague
			//- 		p Business Card
			//- 		.search-details
			//- 			p Details
			//- 			P |
			//- 			p Select

block body_end
