.footer
    .footer-wrapper
        ul
            li
                h3 About Costco
            li Contact Us
            li Pricing
            li Storage Policy
            li Privacy
            li Terms and Conditions
            li Printer Profiles
        
        ul
            li 
                h3 Business Products
            li Business Cards
            li Signs
            li Banners
            li Business Stationery
            li Marketing Materials
            li Posters
            br
            li Yard Signs
            li Window Decals
            li Magnetic Signs
            li Invitations
            li Letterheads
            li Envelopes
    p 2005-2016 | Powered b PNI Media | All rights reserved.