.header-container
	hr
	.header-wrapper
		.header-links
			p
				span My Warehouse:
				|  Camel Mountain, CA |
				span  Change
			ul
				li Help |
				li Contact Us |
				li Back to Costco.com |
				li Photo
		
		.center-nav
			img(src="img/logo.png")
			.my-acct
				p My Account |
				.cart
		.nav-wrapper
			ul
				li 
					a(href="index.html") home
				li 
					a(href="category.html") category		
				li 
					a(href="search.html") search
				li 
					a(href="sku.html") sku
				li 
					a(href="interaction.html") interaction