.grid-25
    .search-tile
     block img
     block tile-text
        //- img(src="img/card1.png")
        //- h4 Sprague
        //- p Business Card
        //- .search-details
        //-     p Details
        //-     P |
        //-     p Select
