#category-page {

  .product-container, .grid_item_desc h4  {
    text-align: center;
  }

  .product-container {

    .grid_item {
      height: 300px;
    }


    .grid_item_price {
      color: #145A92;
      font-weight: bold;
    }
  }

  .full-width-tile {
    background-color: transparent;
  }

}

.banner {
  height: 160px;
  background-color: #EFECDD;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  overflow: hidden;

  .banner_desc-container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }

  .banner_desc {
    width: 100%;
  }

  .banner_img {
    position: absolute;
    bottom: -60px;
    right: 60px;
  }

  .title {
    color: #DE811B;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.full-width-banner {
  position: relative;
  background-color: #F5F5F5;
  overflow: hidden;
  height: 350px;

  .title {
    text-align: center;
  }

  .banner_desc {
    text-align: center;
    padding: 30px 0;
  }

  .banner_img {
    width: 70%;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

.view-more-categories {
  margin: 10px;
  color: #1E5C8B;
  text-align: right;
  a {
   font-weight: bold;
  }
}

.product-pricing {
  position: relative;
  background-color: #F5F5F5;
  padding: 30px;

  .pricing_desc {
    .title {
      margin-bottom: 30px;
    }
  }
}

.pricing_table {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 5%;

  table {
    width: 100%;
    border: 2px solid #D4D4D4;
    border-spacing: 0;
  }

  th {
    border-bottom: 2px solid #D4D4D4;
  }

  td {
    color: #929292;
  }

  td, th {
    padding: 10px 50px;
    white-space: nowrap;
  }
  
}