.carousel {
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 30px;

  .carousel_img {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F5F5F5;

    img {
      width: 80%;
      min-width: 1095px;
    }
  }
}

.carousel_controls {
  width: 200px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_pagination {
  width: 10px;
  height: 10px;
  background-color: #D6D6D6;
  border-radius: 50%;
  margin: 6px;

  &.active {
    background-color: #878787;
  }
}

section {
  margin-bottom: 30px;
}

// Component: Top Product
.product-container {
  margin: 0 auto;

  .title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.product-container_grid {
}

.grid_item {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 10px;
  overflow: hidden;
}

.grid_item_img {
  height: 80%;
  overflow: hidden;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.grid_item_desc {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;

  h4 {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    margin: 3px 0;
  }
}

.grid_item_price {
  color: blue;
  font-size: 14px;
}


//- Component: Full width tile
.full-width-tile {
  padding: 5% 0;
  background-color: #F5F5F5;

  .learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .learn-more_img, .learn-more_desc {
    padding: 2%;
  }

  .learn-more_img {
   
    img {
     width: 100%;
    }
  }

  .learn-more_desc {
    margin-left: 3%;

    h3, p {
      margin-bottom: 20px;
    }

    p {
      line-height: 1.3;
      font-size: 14px;
    }
  }
}


#more-products {
  .product-container {
    .grid_item {
      height: 360px;
    }
  }
}