// Carousel 1
#carousel-1 {

  .carousel_img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    height: 300px;

    // img.active {
    //   opacity: 1;
    //   display: block;
    // }

    img {
      position: absolute;
    }

    .carousel_img-1 {
      width: 100%;
      opacity: 1;
      display: block;
    }

    .carousel_img-2 {
      opacity: 0;
      display: none;
    }

    .carousel_img-3 {
      opacity: 0;
      display: none;
    }
  }
}

// Carousel 2 - Interaction
#carousel-2 {

  .carousel_img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    height: 300px;
    background-color: #F6F6F6;
    overflow: hidden;

    // img.active {
    //   opacity: 1;
    //   display: block;
    // }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .carousel_img-1 {
      width: 100%;
      display: block;
    }

    .carousel_img-2,
    .carousel_img-3,
    .carousel_img-4,
    .carousel_img-5 {
      width: 100%;
      display: none;
    }
  }

  .carousel_pagination {
    transform: scale(0.8);
    

    &.active {
      transform: scale(1.2);
      transition: transform 0.25s ease;
    }
  }
}

// ===== Interaction 1 =====
#interaction-page {
  .grid_item {
    height: 300px;
  }
}


#interaction-1 {

  .product-container_grid {

    .grid_item {
      transition: all .35s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;

      &:after {
      }

      &:hover {
        box-shadow: 0 25px 30px -20px rgba(0,0,0,0.2);
      }
    }
  }
}

// ===== Interaction 2 =====
#interaction-2 {

  .product-container_grid {

    .grid_item {
      transition: all .35s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;

      &:after {
        transition: all .35s ease;
        content: '';
        position: absolute;
        width: 90%;
        height: 100%;
        left: 5%;
        bottom: 0;
        border-radius: 30%;
        z-index: -1;
      }

      &:hover:after {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      }
      // &:hover {
      //   box-shadow: 0 90px 60px -90px rgba(0,0,0,0.2);
      // }

    }
  }
}

// ===== Interaction 3 =====
#interaction-3 {

  .product-container_grid {

    .grid_item {
      transition: all .35s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;

      &:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
      }
    }
  }
}

// ===== Interaction 4 =====
#interaction-4 {

  .product-container_grid {

    .grid_item {
      transition: all .4s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;

      .grid_item_desc {
      }

      &:hover {
        background: #0060a8;
        color: #fff;
      }

      &:hover .grid_item_price{
        color: #fff;
      }

    }
  }
}

// ===== Interaction 4-1 =====
#interaction-4-1 {

  .product-container_grid {

    .grid_item {
      transition: all .4s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;
      position: relative;

      .grid_item_desc {
        h4, p, .grid_item_price {
          z-index: 1;
          transition: color 0.4s;
          transition-delay: 0.2s;
        }
        
      }

      .grid_item_desc:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        background-color: #0060a8;
        transition: 0.4s ease-in-out;
        z-index: 0;
      }

      &:hover .grid_item_desc:before{
        top: 0;
        color: #fff;
      }

      &:hover .grid_item_desc, 
      &:hover .grid_item_price {
        color: #fff;
      }

    }
  }
}






// ===== Interaction 5 =====
#interaction-5 {

  .product-container_grid {

    .grid_item {
      transition: all .4s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;
      -webkit-filter: blur(0);
      will-change: transform;

      .grid_item_desc {
      }

      &:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        transform: scale(1.15);

        
        -webkit-filter: blur(0);
        backface-visibility: hidden;
        z-index: 9;
      }

      // h4 {
      //   transition: all .1s ease;
      // }

    }
  }
}

// ===== Interaction 6 =====
#interaction-6 {

  .product-container_grid {

    .grid_item {
      transition: all .4s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;
      -webkit-filter: blur(0);

      .grid_item_desc {
      }

      &:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        -webkit-filter: blur(0);
        z-index: 9;
      }

      img {
        transition: all .4s ease;
      }
      
      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}

// ===== Interaction 7 =====
#interaction-7 {

  .product-container_grid {

    .grid_item {
      transition: all .4s ease;
      position: relative;
      overflow: visible;
      background-color: #fff;
      -webkit-filter: blur(0);

      .grid_item_desc {
      }

      &:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
      }

      img {
        transition: transform 7s ease-out;
      }
      
      &:hover img {
        transform: scale(1.115);
      }
    }
  }
}